@model BookLibrary.Models.Book
@{
    ViewData["Title"] = "AddNewBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if(ViewBag.success == true)
{
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h4> <strong>HI!</strong> Successfully created your bOOK</h4>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}
else 
{
    <h4>Error</h4>
}
<div class="container">
    <div class="row bg-light border-success">
       
            <div class="col-md-4">
               
                <img src="~/images/Book_logo.jpg" />
            </div>
           <div class=" bg-light col-md-8">
               <form method="Post" asp-action="AddNewBook">
                   <!--<div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
        </div>-->

                   <table class="table table-hover bg-light bg-dark text-white">
                       <tr>
                           <td>
                               <h4 class="font-weight-bold">Add New Book</h4>
                           </td>
                       </tr>
                       <tr>
                         
                           <td><input asp-for="@Model.Title" class="form-control" placeholder="Title" /></td>
                       </tr>

                       <tr>
                         
                           <td> <input asp-for="@Model.Author" class="form-control" placeholder="Author" /></td>
                       </tr>

                       <tr>
                          
                           <td> <input asp-for="@Model.Description" class="form-control" placeholder="Description" /></td>
                       </tr>

                       <tr>
                          
                           <td><select asp-for="@Model.LanguageId" class="form-control" asp-items=" ViewBag.languages">
                               <option value="">Please select language</option></select>

                           </td>
                       </tr>

                       <tr>

                           
                           <td><input asp-for="@Model.Category" class="form-control" placeholder="Category" /></td>
                       </tr>

                       <tr>

                           
                           <td><input asp-for="@Model.TotalPages" class="form-control" placeholder="TotalPages" /></td>
                       </tr>

                       <tr>
                          
                           <td> <input asp-for="@Model.price" class="form-control" placeholder="Price" /></td>

                       </tr>

                       <tr>
                           <td class="text-center">
                               <button type="submit" class="btn btn-success">SUBMIT</button>
                           </td>
                       </tr>


                   </table>
               </form>
           </div>
        </div>
    </div>
